@tailwind base;
@tailwind components;
@tailwind utilities;

.text-glow {
  text-shadow: 0 0 3px #1e2a47, 0 0 5px #1e2a47, 0 0 7px #1e2a47, 0 0 10px #1e2a47, 0 0 15px #1e2a47;
}


@layer base {
  html {
    font-size: 10px;

    @media (min-width: 1080px) {
      font-size: 15px;
    }

    @media (min-width: 1440px) {
      font-size: 16px;
    }

    @media (min-width: 1500px) {
      font-size: 16px;
    }

    @media (min-width: 2160px) {
      font-size: 25px;
    }

    @media (min-width: 2880px) {
      font-size: 30px;
    }
  }
}

@layer utilities {
  .icon-responsive {
    width: 24px;
    height: 24px;
  }
  @media (min-width: 768px) {
    .icon-responsive {
      width: 30px;
      height: 30px;
    }
  }


  @media (min-width: 2160px) {
    .icon-responsive {
      width: 45px;
      height: 45px;
    }
  }

}
